extends templates/layout

block append head
    link(rel='stylesheet' href='/product.css')

block content
    div.container
        div.mt-6.is-hidden-touch

        div.columns.is-centered
            div.column.is-8-desktop
                div.box
                    div.columns
                        div.column
                            div.image.is-square
                                img(src='/' + product.img)

                        div.column.is-relative
                            p.is-size-4.has-text-weight-semibold.mb-4 #{product.name}
                            p Manufacturer: #{product.manufacturer.name}


                            div.action-container
                                div.is-flex.is-justify-content-end
                                    p.is-size-3.has-text-weight-bold #{parseUSD(product.cost)}

                                div.mt-4
                                form(action='/product' method='POST')
                                    input(type='hidden' name='id' value=product.id)

                                    div.level
                                        div.select.mr-4
                                            select(name='amount')
                                                option(selected value='1') 1
                                                each number in [2, 3, 4, 5, 6, 7, 8, 9]
                                                    option(value=number.toString()) #{number}

                                        button.button.is-primary
                                            span.icon: i.bi.bi-cart
                                            span Add to cart

    div(class='modal' + (added ? ' is-active' : ''))
        div.modal-background
        div.modal-card
            header.modal-card-head
                p Added successfully!
            footer.modal-card-foot
                a.button.is-primary.is-light.__modal-cancel(href='/')
                    span.icon: i.bi.bi-chevron-left
                    span Continue shopping
                a.button.is-primary.is-light.ml-auto(href='/cart')
                    span View cart
                    span.icon: i.bi.bi-chevron-right

        button.modal-close.is-large

block append scripts
    script(src='/product.js')